

@include phone {
    
footer {
    background-color: black;
    color: white;
    height: 680px;

        & h3 {
            margin-top: 90px;
            text-align: center;
}

.presentation {
    padding: 1rem;

    &_form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items:flex-end;
        margin-top: 3rem;
       
    }
}
}}



@include desktop {


footer {
    background-color: black;
    color: white;
    height: 900px;

    & h3 {
        margin-top: 150px;
        text-align: center;
        }
    
    & button {
        margin-left: 48%;
        margin-top: 3%;
    }
    
    }

    .presentation {
        padding: 3rem;
   
    &_name {
        font-size: xx-large;

        & h1 {
            font-weight: bolder;
            color: blueviolet;
        }
    }
    
    &_form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin-top: 7rem;
    margin-right: 45%;
    
    &_boxes input{
        width: 400%;
        border-radius: 15%;
        height: 30px;
        text-align: center;
        font-weight: bold;
    
    }


    }}}