
.solo_esta_en_desktop_proyectos_anteriores {
    margin-top: 5%;
    padding: 2%;
    background-color: rgba(224, 222, 222, 0.881);
    
    
}

.solo_esta_en_desktop_proyectos_anteriores img {
    height: 100%
}


@include phone {
    
    
.services {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    gap: 0.5rem;
    
    &_heart {
        display: flex;
        align-items: center;
        justify-content: end;
    }
    &_texto_next_to_heart {
        display: flex;
        align-items: center;
        justify-content: start;
        border: var(--margenes);
        border-radius: 8%;
        margin-right: 5rem;
        padding-left: 1rem;
    }
    &_title{
        grid-column: 1 / span 2;
        margin: 0.5rem;
    }
    &_description {
        grid-column: 1 / span 2;
    }
    &_texto_morado {
        color:  rgb(74, 16, 128);
        font-size: large;
    }
    &_texto_amarillo {
        color: rgba(197, 197, 40, 0.899) ;
        font-weight: bold;
        font-size: large;
    }
    &_description {
        padding: 1rem;
        text-align: justify;
    }
}

}


@include desktop {

.services {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 2% 23.5% auto;
    row-gap: 5%;
    margin: 2%;
    

    &_heart {
        display: flex;
        align-items: center;
        justify-content: start;
        grid-column: 1;
    }

    &_texto_next_to_heart {
        display: flex;
        align-items: center;
        justify-content: start;
        border: var(--margenes);
        border-radius: 8%;
        margin-right: 5rem;
        padding-left: 1rem;
        grid-column: 2;
        
    }

    &_title {
        grid-column: 1 / span 3;
        margin-bottom: 5%;
    }


    &_texto_morado {
        color:  rgb(74, 16, 128);
        font-size: large;
    }

    &_texto_amarillo {
        color: rgba(197, 197, 40, 0.899) ;
        font-weight: bold;
        font-size: xx-large;
    }

    &_description {
        padding: 1rem;
        text-align: justify;
        grid-column: 3;
        grid-row: 2 / span 3;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    }

}




