* {
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: inherit;
}
                               


    /* ESCONDEMOS LOS COMPONENTES QUE SOLO ESTAN EN DESKTOP */


@media (max-width:400px) {
    .solo_esta_en_desktop {
        display: none;
    } }


            /*CLIENTS REVIEW LO ESCONDEMOS DE LA VERSION DESKTOP*/

@media (min-width:401px) {
    .clients_review {
        display: none;
        }
    
    .Briskly_review {
        display: none;
    }
}

        