@import './base';


/* VARIABLES */
:root {
    --shadow-boxes: 2px 2px 3px rgba(0, 0, 0, 0.4);
    --margenes: 1px solid rgba(0, 0, 0, 0.2);
}

// CREAMOS LAS MEDIASQUERY

@mixin phone {
    @media (max-width:400px)
        { @content }
};


@mixin desktop {
    @media (min-width:401px) 
        {@content}
};

@import './components/nav';




.Busqueda_trabajo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    font-weight: bold;
    text-align: justify;

    & img {
        filter:grayscale(70%);
        margin-top: 3rem;
    
    }
    &_titulo {
        padding: 0.5rem;
        text-align: justify;
       
    }

    &_map {
        display: flex;
        justify-content: center;
        
        & iframe {
         width: 500px;
         height: 400px;
         border-radius: 2%;
     }
     
     }
}



.Busqueda_trabajo {

    background: linear-gradient(to right, rgba(91, 8, 81, 0.568), rgb(128, 126, 129));
    background-size: 200% auto;
    animation: movimiento-olas 10s linear infinite;
}

@keyframes movimiento-olas {
    
     
   
        0% {
          background-position: left;
        }
        50% {
          background-position: right;
        }
        100% {
          background-position: left;
        }

}



/* MOBILE*/ /* 400 PX (MOBILE) */

@media (max-width:400px) {
    /* NAV */
nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px rgb(156, 156, 156) solid;
    width: 100%;
    background-color: rgba(243, 243, 243, 0.5);
    font-size: small;

    & h2 {
        color: blueviolet;
    }
    & img {
        height: 40px;
        width: 40px;
        margin-left: 0.5rem;
    }
}



.Busqueda_trabajo_map iframe {
    width: 300px;
    height: 300px;
    border-radius: 2%;
}

}
